.page1 {
	
	#clock{
		position:absolute;
		left: 15vw;
	  	top: 10vh;
		font-size:20vw;
		color: white;
	}
	#noon_or_midnight{
		position:absolute;
		left: 65vw;
	  	top: 11vh;
		font-size:10vw;
		color: white;
	}
	#date{
		position:absolute;
		left: 27vw;
	  	top: 22vh;
		font-size:5vw;
		color: white;
	}

	#morning_alarm_time{
		position:absolute;
		left: 18vw;
	  	top: 68vw;
	  	font-size:5vw;
	  	color: white;
	}
	#morning_alarm_icon{
		position:absolute;
		left: 13vw;
	  	top: 72vw;
	  	height: 15vh;
	  	width: 15vh;
	  	color: white;
	}
	#morning_alarm_label{
		position:absolute;
		left: 13vw;
	  	top: 100vw;
	  	font-size:4vw;
	  	color: white;
	}
	#night_alarm_time{
		position:absolute;
		left: 67vw;
	  	top: 68vw;
	  	font-size:5vw;
	  	color: white;
	}
	#night_alarm_icon{
		position:absolute;
		left: 58vw;
	  	top: 72vw;
	  	height: 15vh;
	  	width: 15vh;
	  	color: white;
	}
	#night_alarm_label{
		position:absolute;
		left: 60vw;
	  	top: 100vw;
	  	font-size:4vw;
	  	color: white;
	}
}
