.page1 {
	
	#clock{
		position:absolute;
		left: 15vw;
	  	top: 10vh;
		font-size:20vw;
		color: white;
	}
	#noon_or_midnight{
		position:absolute;
		left: 65vw;
	  	top: 11vh;
		font-size:10vw;
		color: white;
	}
	#date{
		position:absolute;
		left: 27vw;
	  	top: 22vh;
		font-size:5vw;
		color: white;
	}
	#morning_alarm_time{
		position:absolute;
		left: 18vw;
	  	top: 70vw;
	  	font-size:5vw;
	  	color: white;
	}
	#morning_alarm_icon{
		position:absolute;
		left: 16vw;
	  	top: 77vw;
	  	height: 12vh;
	  	color: white;
	}
	#morning_alarm_label{
		position:absolute;
		left: 9vw;
	  	top: 100vw;
	  	font-size:4vw;
	  	color: white;
	}
	#night_alarm_time{
		position:absolute;
		left: 66vw;
	  	top: 70vw;
	  	font-size:5vw;
	  	color: white;
	}
	#night_alarm_icon{
		position:absolute;
		left: 65vw;
	  	top: 77vw;
	  	height: 12vh;
	  	color: white;
	}
	#night_alarm_label{
		position:absolute;
		left: 60vw;
	  	top: 100vw;
	  	font-size:4vw;
	  	color: white;
	}
	#gradient{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#32f2c5+9,b4e391+100 */
		background: #32f2c5; /* Old browsers */
		background: -moz-linear-gradient(top, #32f2c5 9%, #b4e391 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #32f2c5 9%,#b4e391 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #32f2c5 9%,#b4e391 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32f2c5', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
	}

}
