.morninggoals {

	#head{
		text-align: center;
		font-weight: bold;
		font-size: 7vw;
		color: white;
	}
	ion-list,ion-item{
		background: transparent;
		color: white;
	}
	#finished{
		position:absolute;
		font-size:10vw;
	  	color: white;
	  	text-transform: none;
		left: 17vw;
	  	top: 85vh;
	}

}
