.login {

	#first{
		float:left;
		font-size: 25vw;
	}
	#second{
		float: right;
		font-size: 25vw;
	}
	#login{
		background-color: rgba(255,255,255,0);
		font-size: 7vw;
		color: white;
		text-align: center;
		box-shadow: none;
	}
	#facebook{
		float: left;
		font-size: 15vw;
		color:  white;
	}
	#twitter{
		float: right;
		font-size: 15vw;
		color:  white;
	}

	ion-card-header{
		background-color: rgba(255,255,255,0);
		font-size: 10vw;
		color:  white;
		text-align: center;
	}

	ion-item,ion-label,ion-input{
		background-color: rgba(255,255,255,0);
		font-size: 5vw;
		color:  white;
	}
}
